<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k2thend.supervisor">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".test.EmailActivity"></activity>
        <activity android:name=".DropActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".utils.Utils" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".SubscribeActivity"
            android:label="Subscribe"
            android:screenOrientation="locked"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="locked"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked" />
    </application>

</manifest>